* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


/*-------------------------HEADER----------------------------------*/

.header {
    width: 100%;
    background: url('../img/img7.jpg') #000;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
    padding: 0 20px;
}

.header .contenedor {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.header .logo {
    margin-left: 0;
}

.header .nav-menu {
    width: 100%;
    text-align: right;
}

.header .nav-menu a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    margin: 40px 20px;
    text-decoration: none;
    /* position: relative;s */
}

.header .nav-menu a:hover {
    text-decoration: underline;
}

.header .textos {
    width: calc(100% - 40px);
    color: white;
    position: absolute;
    top: 50%;
    margin-top: -52px;
}

.header .nombre {
    font-size: 50px;
    font-weight: 600;
}

.header .nombre span {
    font-weight: 300;
}

.header .nombre p {
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
}


/* ------------------------------------- MAIN ------------------- */

.main {
    background: url('../img/white-waves.png');
    background-repeat: repeat;
    /* padding: 20px; */
}

.main .acerca-de .contenedor {
    overflow: visible;
    position: relative;
}

.main .acerca-de .photo {
    width: 80%;
    position: absolute;
    left: 0;
    top: -70px;
    z-index: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, .4);
}

.main .acerca-de .photo img {
    vertical-align: top;
    width: 100%;
}

.main .acerca-de .article {
    background-color: #fff;
    padding: 48px;
    width: 50%;
    position: relative;
    top: 150px;
    float: right;
    z-index: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, .4);
}

.main .acerca-de .article h3 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 40px;
}

.main .acerca-de .article p {
    line-height: 28px;
    margin-bottom: 15px;
}

.main .photoDay {
    padding-top: 600px;
    margin-bottom: 20px;
    text-align: center;
}

.main .photoDay h3 {
    font-size: 40px;
    font-weight: bold;
}

.main .contenedor-info {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.photoDay .contenedor-form {
    border: 1px solid black;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
}

.photoDay .contenedor-form .input-form {
    border: none;
    width: 100%;
    padding: 10px 5px;
    cursor: pointer;
}

.photoDay .contenedor-form .button {
    display: block;
    border: none;
    height: 42px;
    cursor: pointer;
    background-color: #ccc;
}

.photoDay .contenedor-form .button,
.photoDay .contenedor-form .input-form {
    outline: none;
}

.main .photoDay {
    margin-bottom: 90px;
}

.main .contenedor-photo-day {
    width: 100%;
    max-width: 600px;
    height: 450px;
    margin: auto;
}

.main .contenedor-photo-day img {
    width: 100%;
    object-fit: cover;
    height: 90vh;
}

.main .gallery {
    overflow: hidden;
}

.main .gallery h3 {
    font-size: 40px;
    font-weight: bold;
}

.main .gallery .photo-gallery {
    width: 25%;
    float: left;
    /* height: 200px; */
}

.main .gallery .photo-gallery img {
    width: 100%;
    vertical-align: top;
    object-fit: cover;
    opacity: .8;
}

.main .gallery .photo-gallery:hover img {
    opacity: 1;
    cursor: pointer;
    transition: all .3s ease;
}

#error {
    color: red;
    font-weight: bold;
}


/* ------------------------------------- FOOTER ----------------------- */

.footer {
    background-color: rgba(8, 8, 8, 0.897);
    color: rgb(204, 204, 204);
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer i {
    font-size: 25px;
}

.footer a:hover {
    color: #fff;
}


/* ------------------------------------- MEDIA QUERIES ------------------ */

@media screen and (max-width: 800px) {
    .header .contenedor {
        position: static;
        height: auto;
    }
    .header .contenedor .logo {
        display: none;
    }
    .header .textos {
        position: static;
        margin: 100px 0;
    }
    .header .nav-menu {
        text-align: center;
    }
    .header .nav-menu a {
        margin: 10px 20px;
        font-size: 15px;
    }
    .header .textos .nombre {
        font-size: 30px;
    }
    .header .textos h3 {
        font-size: 18px;
    }
    .main .acerca-de .photo {
        width: 100%;
        position: relative;
        top: -100px;
    }
    .main .acerca-de .article {
        position: relative;
        width: 100%;
        top: -99px;
        transform: translate(0px, 0);
    }
    .main .gallery .photo-gallery {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .main .acerca-de .article h3 {
        font-size: 34px;
        margin-bottom: 10px;
    }
    .main .gallery .photo-gallery {
        width: 100%;
    }
}